1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	    BLOCK "040904b0"
	    BEGIN
		    VALUE "Comments", ""
		    VALUE "CompanyName", ""
		    VALUE "FileDescription", "Hide/Show desktop icons."
		    VALUE "FileVersion", "1.0.0.0"
		    VALUE "InternalName", "iconHider.exe"
		    VALUE "LegalCopyright", "Copyright \xA9  2020 TikoTako"
		    VALUE "LegalTrademarks", ""
		    VALUE "OriginalFilename", "iconHider.exe"
		    VALUE "ProductName", "iconHider"
		    VALUE "ProductVersion", "1.0.0.0"
	    END
    END
    
    BLOCK "VarFileInfo"
    BEGIN
	    VALUE "Translation", 0x0409, 1200
    END
END

101               ICON                    "iconHider.ico"